html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #222022;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
main {
  text-align: center;
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 100;
  margin: 1rem;
  color: #fe5f55
}

label {
  display: block;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #fe5f55;
  padding: 0;
  margin: 1rem auto;
}
input:focus {
  outline: none;
}

.btn {
  background-color: #fe5f55;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0 auto;
  border-radius: 15px;
  outline: none;
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
}
.btn--text {
  background: white;
  font-size: 14px;
  text-transform: capitalize;
  color: black;
  width: auto;
  margin: 0;
}
.btn--text.active{
  text-decoration: underline;
}
.btn img {
  max-width: 32px;
}

